Repository gjdbradford/hermes-security-production: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(navigation): fix CTA navigation to maintain base path context
  src/components/AboutCTASection.tsx
  src/components/AboutHeroSection.tsx
  src/components/CTASection.tsx
  src/components/CaseStudySection.tsx
  src/components/Header.tsx
  src/components/HeroSection.tsx
  src/components/HowToGetServicesSection.tsx
  src/components/ServicesSection.tsx
  src/components/ValueProposition.tsx
  src/utils/ctaNavigation.ts
Due: eslint --fix, prettier --write

Revert "fix(navigation): fix CTA navigation to maintain base path context"
  src/components/AboutCTASection.tsx
  src/components/AboutHeroSection.tsx
  src/components/CTASection.tsx
  src/components/CaseStudySection.tsx
  src/components/Header.tsx
  src/components/HeroSection.tsx
  src/components/HowToGetServicesSection.tsx
  src/components/ServicesSection.tsx
  src/components/ValueProposition.tsx
  src/utils/ctaNavigation.ts
Due: eslint --fix, prettier --write

fix(navigation): restore CTA source tracking with proper base path navigation
  src/components/AboutCTASection.tsx
  src/components/AboutHeroSection.tsx
  src/components/CTASection.tsx
  src/components/CaseStudySection.tsx
  src/components/Header.tsx
  src/components/HeroSection.tsx
  src/components/HowToGetServicesSection.tsx
  src/components/ServicesSection.tsx
  src/components/ValueProposition.tsx
  src/pages/Contact.tsx
  src/utils/ctaNavigation.ts
Due: eslint --fix, prettier --write

fix(header): fix Get In Touch button to reload contact page when already on contact
  src/components/Header.tsx
Due: eslint --fix, prettier --write

feat(cta): implement CTA Master Rules validation system
  .commitlintrc.js
  .github/workflows/quality-gates.yml
  CTA_MASTER_RULES.md
  package.json
  scripts/validate-cta-rules.ts
  src/components/ContactForm.tsx
  src/components/Header.tsx
  src/pages/Contact.tsx
Due: eslint --fix, prettier --write

fix(cta): resolve duplicate base path issue in staging navigation
  CTA_MASTER_RULES.md
  src/components/Header.tsx
  src/pages/Contact.tsx
  src/utils/ctaNavigation.ts
Due: eslint --fix, prettier --write

fix(ci): fix GitHub Pages deployment workflow
  .github/workflows/quality-gates.yml
Due: prettier --write

fix(ci): allow deployment to proceed despite linting errors
  .github/workflows/quality-gates.yml
Due: prettier --write

fix(ci): allow Prettier check to continue on error
  .github/workflows/quality-gates.yml
Due: prettier --write

fix(cta): prevent page reload when clicking Get In Touch on contact page
  src/components/Header.tsx
Due: eslint --fix, prettier --write

docs(cta): update CTA Master Rules with critical deployment lessons
  CTA_MASTER_RULES.md
Due: prettier --write

fix(ci): fix remaining critical linting errors
  scripts/test-all-environments.ts
  scripts/test-fixes.ts
  scripts/upload-assets.ts
  src/components/CaptchaVerification.tsx
  src/components/CaseStudySection.tsx
  src/components/ComplianceSection.tsx
  src/components/CookieConsent.tsx
  src/components/Footer.tsx
  src/components/FromPentestToProof.tsx
  src/components/HeroSection.tsx
  src/components/HowToGetServicesSection.tsx
  src/components/ManifestoSection.tsx
  src/components/ServicesSection.tsx
  src/components/TeamSection.tsx
  src/components/WhyChooseSection.tsx
  src/components/ui/optimized-image.tsx
  src/hooks/use-toast.ts
  src/pages/Privacy.tsx
  src/pages/Terms.tsx
  src/services/contactApi.ts
  src/utils/crispTriggers.ts
  src/utils/imageUtils.ts
Due: eslint --fix, prettier --write

feat: implement scroll-to-top and ChatBot integration
  CHATBOT_MASTER_RULES.md
  CTA_MASTER_RULES.md
  SCROLL_TO_TOP_GUIDELINES.md
  src/App.tsx
  src/components/AboutCTASection.tsx
  src/components/ContactForm.tsx
  src/components/ScrollToTop.tsx
  src/utils/chatbotUtils.ts
Due: eslint --fix, prettier --write

fix: completely disable Jekyll and force React app deployment
  .github/workflows/deploy.yml
  .nojekyll
  _config.yml
  docs/.nojekyll
  docs/_config.yml
  docs/index.html
Due: prettier --write

docs: update documentation to reflect no-Jekyll policy
  CTA_MASTER_RULES.md
  DEPLOYMENT_GUIDE.md
  README.md
Due: prettier --write

fix: resolve footer links missing staging path directory
  src/components/Footer.tsx
Due: eslint --fix, prettier --write

feat: add React Router DOM navigation validation to master checker
  CTA_MASTER_RULES.md
  package.json
  scripts/validate-router-navigation.ts
  src/components/CookieConsent.tsx
  src/utils/crispTriggers.ts
  src/utils/ctaNavigation.ts
Due: eslint --fix, prettier --write

fix: resolve GitHub Actions security audit failures
  .github/workflows/quality-gates.yml
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

chore: remove unnecessary .npmrc file
  .npmrc
Due: none

chore: remove all Lovable references from codebase
  .npmrc
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write

fix: resolve favicon.ico missing issue in GitHub Actions
  .github/workflows/quality-gates.yml
  favicon -3.ico
Due: prettier --write

fix: resolve GitHub Actions workflow failures
  .github/workflows/quality-gates.yml
  scripts/test-routing.ts
Due: eslint --fix, prettier --write

fix: improve Asset Validation to handle Vite asset hashing
  .github/workflows/quality-gates.yml
Due: prettier --write

fix: add essential public files to repository
  public/favicon.ico
  public/favicon.svg
  public/robots.txt
  public/site.webmanifest
  public/sitemap.xml
Due: none

fix: add artifact name to staging build upload
  .github/workflows/quality-gates.yml
Due: prettier --write

security: disable unsafe parallel deployment workflow
  .github/workflows/deploy.yml
  .github/workflows/quality-gates.yml
Due: prettier --write

refactor: remove Vercel production deployment from GitHub Actions
  .github/workflows/quality-gates.yml
Due: prettier --write

fix: remove deploy.yml workflow file completely
  .github/workflows/deploy.yml
Due: prettier --write

feat: update mobile logo, footer branding, and icon positioning
  src/components/AboutCTASection.tsx
  src/components/AboutHeroSection.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/index.css
  src/utils/imageUtils.ts
Due: eslint --fix, prettier --write

feat: disable automatic vercel production deployments
  .github/workflows/manual-production-deploy.yml
  .github/workflows/quality-gates.yml
  .vercelignore
Due: prettier --write

feat: implement secure deployment workflow with quality gates
  .github/BRANCH_PROTECTION_RULES.md
  .github/workflows/manual-production-deploy.yml
  .github/workflows/quality-gates.yml
  DEPLOYMENT_WORKFLOW_GUIDE.md
  TESTING_DEPLOYMENT_WORKFLOW.md
  package.json
  scripts/test-quality-gates-local.sh
  vercel.json
Due: prettier --write

fix: update workflow conditions to handle merge events properly
  .github/workflows/quality-gates.yml
Due: prettier --write

fix: resolve mobile UX and routing issues
  PERFORMANCE_MASTER_RULES.md
  README.md
  docs/index.html
  documentation/guides/ROUTING_RULES.md
  index.html
  src/components/ContactForm.tsx
  src/components/HeroSection.tsx
  src/utils/routingUtils.ts
  src/vite-env.d.ts
Due: eslint --fix, prettier --write

fix: resolve routing test failures for staging environment
  scripts/test-routing.ts
  src/utils/routingUtils.ts
Due: eslint --fix, prettier --write

feat: implement Brevo CRM integration with contact form enhancements
  documentation/test-plans/contact-form-test-plan.md
  package.json
  scripts/cors-proxy-server.ts
  src/App.tsx
  src/components/ContactForm.tsx
  src/components/CountryPhoneInput.tsx
  src/components/ui/command.tsx
  src/pages/CountryPhoneDemo.tsx
  src/services/contactApi.ts
  src/tests/ContactForm.test.tsx
  src/tests/setup.ts
  src/utils/chatbotUtils.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: resolve contact page blank screen issue
  package-lock.json
  package.json
  src/components/CountryPhoneInput.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx,js,jsx}) or (any of: *.config.{js,ts})
  prettier --write: ((((((any of: *.{ts,tsx,js,jsx}) or (any of: *.json)) or (any of: *.{css,scss,sass})) or (any of: *.md)) or (any of: *.{yml,yaml})) or (any of: *.config.{js,ts})) or (any of: package.json)
